.hero2 {
  height: 70rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.hero3 {
  height: 70rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5f5ff;
}

.rightContainer {
  width: 400px;
}
img {
  width: 800px;
  margin-top: -10px;
}
